<div class="m-create-stream">
    <form>
        <input class="field" type="text" name="streamName" placeholder="Stream Name" />
        <button class="square-btn btn-success" name="submit">Create</button>
    </form>
</div>
