.m-hero
    margin: 20px 0px
    padding: 30px
    background: #eee

.m-search
    +container
    display: block
    text-align: center
    padding: 30px 0px

    .inline-search-form
        display: block
        //background: orange
        margin: 0
        position: relative

        input[type=text]
            width: 100%
            border: 1px solid #ccc
            line-height: $line-height
            padding: 8px 50px 8px 15px
            box-shadow: inset 0px 0px 6px #ddd

        button[type=submit]
            position: absolute
            top: 0
            bottom: 0
            right: 0
            margin: 0
            border: none
            background: none
            padding: 0px 20px
            color: #aaa
            transition: all 0.2s ease-in-out
            cursor: pointer
            font-size: 18px

.m-quips
    position: relative
    padding-top: 20px

    .divider
        position: absolute
        margin-top: 0px
        top: 0
        bottom: 0
        width: 1px
        width: 23%
        border-right: 1px solid #ccc
        z-index: -1
        //margin-left: 240px

.m-quip
    +container
    margin-bottom: 15px
    +clearfix

    .meta
        width: 21%

        a
            display: block

        .specs
            font-size: 16px
            text-align: right
            line-height: 25px
            +span(8)
            padding-right: 10px

            //.name

            time
                color: #888


        .avatar
            +span(4)
            text-align: right
            img
                width: 50px
    .details
        width: 75%
        float: right

        .description
            border: 1px solid #ddd
            box-shadow: 0px 2px 4px #e7e7e7
            background: #fff
            padding: 10px 14px
            +clearfix
            position: relative
            z-index: 100
            cursor: pointer

            .progress-bar
                background: #eee
                position: absolute
                top: 0
                bottom: 0
                left: 0
                width: 0%
                z-index: -30

            .text
                +span(10)
                +susy-clearfix
                z-index: 200