.header-nav
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    height: 70px

    .btn-logo
        display: inline-block
        align-items: center
        max-width: 100%
        max-height: 100%


    .btn
        display: inline-block
        width: 40px
        height: 40px
        border-radius: 50%
        transition: transform .06s ease-in-out
        font-size: 20px
        cursor: pointer
        text-decoration: none
        text-align: center
        vertical-align: middle
        overflow: hidden
        padding: 0
        margin: 0
        align-items: center
        position: relative
        display: flex

        &.btn-square
            border-radius: 0

        &:hover, &.activated
            transform: scale(1.2)

        i.fa
            display: inline-block
            width: 100%
            line-height: 100%
            vertical-align: middle
            padding: 0
            margin: 0
            font-size: inherit

        img.profile-pic
            display: inline-block
            align-items: center
            width: 100%
            height: 100%
            border-radius: 50%


    //.header-btn
    //    padding: 0px
    //    cursor: pointer
    //    position: relative
    //    z-index: 100
    //    text-decoration: none
    //
    //    font-size: 30px
    //    margin: 0
    //    display: inline-block
    //    text-align: center
    //
    //    //background-color: #495164
    //    //color: #ADEAFC
    //    color: #fff
    //


    .header_logo
        font-size: 25px
        font-weight: 300
        display: table-cell
        vertical-align: middle
        width: 300px
        min-width: 270px
        text-align: left
        padding-left: 30px

        @media #{$most_phones}
            display: none

        img
            vertical-align: middle
            margin: 0px 20px 0px
            width: 50px

        a
            line-height: 1
            vertical-align: middle
            font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
            color: #fff
            font-size: 25px
            font-weight: 300
            letter-spacing: 2px
            text-decoration: none
            text-transform: uppercase

            strong
                font-weight: 600


    .header-container
        display: flex
        align-items: center
        justify-content: center

    .header_menu
        @extend .header-container

        background: orange
        vertical-align: middle
        display: flex
        align-items: center
        justify-content: center

    .header_user
        @extend .header-container


        .m-dropdown
            margin: 0px auto
            font-size: 1rem
            text-decoration: none
            line-height: 1
            display: block

        .dropdown-trigger
            line-height: 1
            display: block

        img.cp-avatar
            width: $line-height * 1.5
            line-height: $line-height * 1.5
            margin: 0px
            display: block
            border-radius: 50%

    .header_shortcuts
        @extend .header-container
