* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.bg, .bg-overlay, .contents {
    width: 100%;
    height: 100%;
    position: absolute;
}
.bg {
    background: #000000 url('/assets/img/landing-screenshot.jpg') center center no-repeat;
    background-size: cover;
}
.bg-overlay {
    background: #282020;
    opacity: 0.7;
}
.landing-screen {
    width: 100%;
    height: 100%;
}
.wordmark-container {
    margin: 30px 30px 0px;
    display: block;
    position: relative;
}
.wordmark {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
    .wordmark strong {
        font-weight: 600;
    }
.wordmark-container img {
    display: block;
    margin: 20px 0px 0px;
}
.contents {

}
.message-container {
    position: absolute;
    width: 100%;
    padding: 7%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.message {
    position: relative;
    margin: auto;
    max-width: 960px;
    text-align: middle;
}
.message h1 {
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #aaa;
    margin: 0 0 40px;
}
.message h2 {
    font-size: 70px;
    line-height: 85px;
    font-weight: normal;
    letter-spacing: 0px;
    color: #fff;
    margin: 0;
}
.button-panel {
    margin-top: 40px;
}
a.btn {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    color: #aaa;

    border: 2px solid #aaa;

    margin: 0px 10px;
    min-width: 160px;
    padding: 10px 30px;
    text-decoration: none;

    transition-delay: 0s, 0s;
    transition-duration: 0.1s, 0.1s;
    transition-property: background-color, color;
    transition-timing-function: ease, ease;
}
a.btn:hover {
    background-color: #aaa;
    color: #444;
}

/*$most_phones: "(max-width: 640px)"*/
/*$most_tablets: "(min-width: 640px) and (max-width: 1080px)"*/
/*$laptops: "(min-width: 1080px)"*/

@media (min-width: 640px) and (max-width: 1080px) {
    .wordmark-container span:last-child {
        display: none;
    }
}

@media (max-width: 640px) {
    .message h1 {
        padding: 0px 10px;
        font-size: 26px;
        line-height: 36px;
    }

    .message h2 {
        font-size: 36px;
        line-height: 40px;
    }

    .wordmark-container {
        display: flex;
        flex-direction: row;
        margin: 0px;
    }

    .wordmark-container span:first-child {
        text-align: left;
        padding: 20px;
        display: inline-block;
        flex: 1;
    }

    .wordmark-container span:last-child {
        text-align: right;
        width: 30%;
        display: inline-block;
    }
    .wordmark-container span:last-child img {
        margin: 15px;
        width: 60px;
        display: inline-block;
    }
}