{% extends "layout.html" %}

{% block body %}

    <audio id="audio-player" autoplay="false">
    </audio>

    {% if recordings | length == 0 %}
        <div class="m-quips-sample-listing">
            <img src="/assets/img/sample-listing.png"/>
        </div>
    {% endif %}

    <div backbone-controller="RecordingsList" class="quips-list">

        {% for post in recordings %}
            <div class="quip" data-quip-id="{{ post.id }}" data-is-mine="{{ post.isMine }}"
                 data-is-public="{{ post.isPublic }}">
                <div class="flex-row">
                    <div class="quip-profile">
                        <a class="btn" href="/u/{{ post.user.username }}">
                            <img src="/profile_images{{ post.user.profileImage }}"/>
                        </a>
                    </div>
                    <div class="quip-details">
                        <div class="flex-row">
                            <span class="name">{{ post.user.username }}</span>
                            <time datetime="{{ post.timestamp }}"></time>
                        </div>
                        <div class="text">{{ post.description }}</div>
                    </div>
                </div>
                <div class="quip-player">
                    <div class="progress-bar"></div>
                    <i class="fa fa-play"></i>
                </div>
                <div class="quip-actions">
                    <a class="button" href="{{ post.publicUrl }}" title="Share">
                        <i class="fa fa-share-square-o"></i> <span class="caption">Share</span>
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>

    <script type="text/html" id="quip-control-privacy">
        <a class="button lock-indicator" title="Toggle visibility">
            <% if (isPublic) { %>
            <i class="fa fa-unlock"></i> <span class="caption">Make Private</span>
            <% } else { %>
            <i class="fa fa-lock"></i> <span class="caption">Make Public</span>
            <% } %>
        </a>
    </script>

{% endblock %}
