{% extends "layout.html" %}

{% block secondary %}
{#    <div class="m-search">#}
{#        <form class="inline-search-form" method="post" action="{{ url_for('HomepageView:index') }}">#}
{#            <input type="text" name="query" value="" placeholder="Search" />#}
{#            <button type="submit" name="action" value="search"><i class="fa fa-search"></i></button>#}
{#        </form>#}
{#    </div>#}
{% endblock %}

{% block body %}

    <div backbone-controller="RecordingsList" class="m-quips">
        <div class="divider"></div>

    {% for post in recordings %}
        <div class="m-quip" data-quip-id="{{ post.id }}">
            <div class="meta">
                <div class="specs">
                    <div class="name">{{ post.user.username }}</div>
                    <time datetime="{{ post.timestamp }}"></time>
                </div>
                <div class="avatar">
                    <a href="/u/{{ post.user.username }}">
                        <img src="/profile_images/{{ post.user.profileImage }}" />
                    </a>
                </div>
            </div>
            <div class="details">
                <div class="description">
                    <div class="progress-bar"></div>
                    <div class="text">{{ post.description }}</div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

{% endblock %}
